<section class="category">
	
	<user-menu></user-menu>
	<main-menu></main-menu>
	
	<div class="container-fluid">

		

	<!-- <div ng-click="goback()">back</div> -->

		<div class="row">
			<div class="col-md-12">
				<!-- onbeforesave="addCategory($data, menu_item)" -->
				<h2 ng-if="user.admin" editable-text="category.name" >{{ category.name }}</h2>
				<h2 ng-if="!user.admin" >{{category.name}}</h2>
				<div class="description">{{ category.description }}</div>
			</div>

			<div class="container-fluid">
				<div class="row" ng-repeat="product in products | groupBy:4">
					<div ng-if="item.product_id != null && item.hidden == 0" class="col-md-3" ng-repeat="item in product">
						<div class="product">
							<div class="image">
							<a ng-href="{{url}}/p/{{item.slug}}" >
								<img ng-src="{{ item.image }}" class="img-responsive"/>
								<div class="view" ng-href="{{url}}/p/{{item.slug}}">View</div>
							</a>
							</div>
							<h2><a ng-href="{{url}}/p/{{item.slug}}" >{{ item.name }}</a></h2>
							<div class="info">
								<div class="short-description" ng-bind-html="renderHtml(item.description)"></div>
								<h3>{{ item.price | currency:"":0}} CZK <small>({{ item.price*0.79 | currency:"":2}} CZK excl. VAT)</small></h3>
								{{ item.quantity }}
								<div class="btn btn-primary add" ng-click="addToCart(item)" ng-class="user.admin ? 'disabled' : 'ok' "><span class="glyphicon glyphicon-shopping-cart"></span> Add to cart</div>
							</div>
						</div>
					</div>
				</div>

				<div class="add-product col-md-3" ng-if="!products.length">
					<span > No products to show!</span>
				</div>
			</div>
		</div> <!-- /row -->
	<div class="add-product" ng-if="user.admin" ng-click="addItem()"><span class="btn btn-primary">Add new product to {{ cat }}'s category</span></div>
</div>
</section>
