<section class="category container-fluid">
	<div class="top-bar">
		<h1 class="logo col-md-6">{{ logo }}</h1>
		<user-menu></user-menu>
	</div>


	<main-menu></main-menu>

	<div class="row">
		<div class="col-md-6">
			<img ng-src="{{ product.image }}" class="img-responsive " ng-click="uploadImage()" editable-text="product.image"/>
		</div>
		<div class="col-md-6">
			<h2 ng-if="user.admin" editable-text="product.name" >{{ product.name }}</h2>
			<p ng-bind-html="renderHtml(product.description)" editable-textarea="product.description"></p>
			<span editable-text="product.price">{{ product.price }}</span> CZK
			<div class="btn btn-success disabled" ng-click="addToCart(product)">Buy</div>
			
			<h4>Suppliers</h4>
			<select multiple ng-model="man" ng-options="option.name for option in supply track by option.manufacturer_id">
			</select>

			<h4>Category</h4>
			<select ng-if="!category.category" ng-model="category" ng-options="option.name for option in categories track by option.category_id">
				<option value="">--- Please select category --- </option>
			</select>
			<p ng-if="category.category">{{ category.category.name }}</p>

			<h4>Stock supplies</h4>
			<span editable-text="product.in_stock">{{ product.in_stock }}</span>
		</div>
	</div>

	<!-- {{ categories }} -->


	<h3>Description</h3>
	<div class="row">
		<div class="description col-md-12" ng-bind-html="renderHtml(product.description)" editable-textarea="product.description">
		</div>
	</div>

	<h3>Reviews</h3>
	<div class="row" ng-repeat="review in reviews">
		<div class="review col-md-12 well" >
			<a href="" ng-click="deleteReview(review.product_id, review.customer_id)">Delete</a> 
			<span class="name">{{ review.first_name }} {{review.last_name}}</span> 
			on <span class="date">{{review.timestamp | date: dd-MM}}</span>
			<div ng-bind-html="renderHtml(review.content)"></div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<a href="" class="btn btn-success btn-lg" ng-click="addProduct()">Add Product</a>
		</div>
	</div>

</section>
