<topbar></topbar>
<category-bar></category-bar>

<div class="container">
	<h2>Account</h2>
	<form (ngSubmit)="onSubmit()" #userForm="ngForm" novalidate *ngIf="user.customer">
		<div class="form-group">
			<label for="username">Username *</label>
			<input type="text" class="form-control" placeholder="Enter Your Username" required
				[(ngModel)]="user.customer.username" #fusername="ngModel" name="user_name">
			<div [hidden]="fusername.valid || fusername.pristine" class="alert alert-danger">
				Username is required
			</div>
		</div>

		<div class="form-group">
			<label for="firstname">First Name</label>
			<input type="text" class="form-control" placeholder="Enter Your First Name"
				[(ngModel)]="user.customer.first_name" #fname="ngModel" name="first_name">
		</div>

		<div class="form-group">
			<label for="lastname">Last Name *</label>
			<input type="text" class="form-control" placeholder="Enter Your Last Name" required
				[(ngModel)]="user.customer.last_name" #flname="ngModel" name="last_name">
			<div [hidden]="flname.valid || flname.pristine" class="alert alert-danger">
				Lastname is required
			</div>
		</div>

		<div class="form-group">
			<label for="email">Email *</label>
			<input type="email" class="form-control" placeholder="Enter Your Email" required
				[(ngModel)]="user.customer.email" #fmail="ngModel" name="email">
			<div [hidden]="fmail.valid || fmail.pristine" class="alert alert-danger">
				Email is required
			</div>
		</div>

		<div class="form-group">
			<label for="phone">Phone</label>
			<input type="text" class="form-control" placeholder="Enter Your Phone"
				[(ngModel)]="user.customer.phone" #fphone="ngModel" name="phone">
		</div>

		<div class="form-group">
			<label for="address">Address</label>
			<input type="text" class="form-control" placeholder="Enter Your Address"
				[(ngModel)]="user.customer.address1" #faddress="ngModel" name="address">
		</div>

		<div class="form-group">
			<label for="postalcode">Postal code</label>
			<input type="text" class="form-control" placeholder="Enter Your Postal Code"
				[(ngModel)]="user.customer.postal_code" #fpostal="ngModel" name="postalcode">
		</div>

		<div class="form-group">
			<label for="city">City</label>
			<input type="text" class="form-control" placeholder="Enter Your City"
				[(ngModel)]="user.customer.city" #fcity="ngModel" name="city">
		</div>

		<div class="form-group">
			<label for="state">State</label>
			<input type="text" class="form-control" placeholder="Enter Your State"
				[(ngModel)]="user.customer.state" #fstate="ngModel" name="state">
		</div>

		<button type="submit" class="btn btn-primary" [disabled]="!userForm.form.valid">
			Submit
		</button>
	</form>
</div>


{{user|json}}
