.card-img-top {
	width: 100%;
	height: auto;
}

product-card {
	margin-bottom: 2em;
}

.subcat {
	margin-bottom: 1em;

	.cat a {
		padding: 0.75em;
		border: 1px solid darken(#FFF, 5%);
	}
}

.row {
	margin-bottom: 1em;
}
