<topbar></topbar>
<category-bar></category-bar>

<div class="container">
	<div class="row">
		<h2 *ngIf="!user.isAdmin(); else admin_edit_name">{{ category.name }}</h2>

		<ng-template #admin_edit_name>
			<div class="form-control col-4">
				<label>Category name</label>
				<inline-editor type="text" [(ngModel)]="category.name" name="headline" (onSave)="update($event)"></inline-editor>
			</div>
			<div class="form-control col-2">

				<label>Slug</label>
				<small>
					<inline-editor type="text" [(ngModel)]="category.slug" name="slug" (onSave)="update($event)"></inline-editor>
				</small>
			</div>
		</ng-template>
	</div>
	<div class="row">
		<p *ngIf="!user.isAdmin(); else admin_edit_description">
			{{ category.description }}
		</p>

		<ng-template #admin_edit_description>
			<div class="form-control col">
				<label>Description</label>

			<inline-editor type="textarea" [(ngModel)]="category.description" (onSave)="update($event)" name="description"></inline-editor>

			</div>
		</ng-template>
	</div>

	<div class="row product-listing">
		<product-card [item]="product" *ngFor="let product of category.products" class="col-4"></product-card>

	</div>
	<div class="row">
		<div class="col-3" *ngIf="user.isAdmin()">
			<a class="card" [routerLink]="['/', 'category', id, 'product', 'new']">
				<img class="card-img-top" src="assets/add_icon.png" alt="Add new product" />
				<span class="btn btn-primary">Add new product</span>
			</a>
		</div>
	</div>
</div>

