<div class="main-menu hidden-print" ng-controller="mainMenuController">
	<ul class="container">
		<li>
			<a ng-href="#/">Home</a>
		</li>
		<li ng-repeat="menu_item in categories" ng-if="!menu_item.hidden">
			<span ng-if="user.admin" class="glyphicon glyphicon-remove" ng-click="deleteCategory(menu_item)"></span>
			<a ng-href="#/{{ menu_item.slug}}" editable-text="menu_item.name" e-form="textBtnForm" onbeforesave="editCategory($data, menu_item)">{{menu_item.name}}</a>
			<span ng-click="textBtnForm.$show()" ng-hide="textBtnForm.$visible" ng-if="user.admin" class="glyphicon glyphicon-edit"></span>
			<ul ng-if="menu_item.sub.length > 0 || user.admin">
				<li ng-repeat="submenu_item in menu_item.sub" ng-if="!submenu_item.hidden">
					<span ng-if="user.admin" class="glyphicon glyphicon-remove" ng-click="deleteCategory(submenu_item)"></span>
					<a ng-href="#/{{ menu_item.slug }}/{{ submenu_item.slug }}" editable-text="submenu_item.name" e-form="textBtnForm2" onbeforesave="editCategory($data, submenu_item)">{{ submenu_item.name }}</a>
					<span ng-click="textBtnForm2.$show()" ng-hide="textBtnForm2.$visible" ng-if="user.admin" class="glyphicon glyphicon-edit"></span>
				</li>
				<li ng-if="user.admin">
					<a href="#" editable-text="newcat.name" onbeforesave="addCategory($data, menu_item)"><span ng-if="!newcat.name">+ Add Subcategory</span></a>
				</li> 
			</ul>
		</li>
		<li ng-if="user.admin">
			<a href="#" editable-text="newcat.name" onbeforesave="addCategory($data, menu_item)"><span ng-if="!newcat.name">+ Add Category</span></a>
		</li> 
		
	</ul>
</div>

