<div class="card" (click)="redirect()" [ngClass]="{
		'out-of-stock' : item?.in_stock == 0
	}">

	<span class="card-img-top"
		[ngStyle]="{
			'background-image' : 'url(' + item?.image + ')'
		}"
	   alt="Product image"></span>

	<span class="price">{{ item?.price | currency:USD:'1.2-2' }}</span>
	<small class="stock badge badge-success" *ngIf="item?.in_stock > 0">In Stock</small>
	<small class="stock badge badge-danger" *ngIf="item?.in_stock == 0">Out of Stock</small>


	<div class="card-block">
		<h4 class="card-title">{{ item?.name | truncate : 26 }} </h4>
		<p class="card-text">{{ item?.description | truncate : 105 }}</p>

	<span class="btn btn-block btn-primary">Go to details </span>
	</div>
</div>
