.card {
	width: 100%;

	.card-text {
		text-align: justify;
	}

	&:hover {
		cursor: pointer;
		-webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.25);
		box-shadow: 0 0 10px 0 rgba(0,0,0,0.25);
	}

	.card-img-top {
		height: 250px;
		width: 100%;
		display: block;
		max-height: 250px;
		background-size: cover;
	    background-repeat: no-repeat;
		background-position: center;
	}

	.price {
		display: block;
		position: absolute;
		font-weight: bold;
		font-size: 1.25em;
		left: 0;
		top: calc(250px - 3em);
		background: rgba(255,255,255,0.90);
		padding: 1em;
	}

	.stock {
		display: block;
		position: absolute;
		font-size: 0.75em;
		right: 0.25em;
		top: calc(250px - 2em);
	}
}
