<div class="container">
<nav class="main-menu hidden-print navbar-light navbar">
	<ul>
		<!-- HOME BUTTON -->
		<li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
			<a [routerLink]="['/']" class="nav-link">Home</a>
		</li>

		<!-- CATEGORY ITEM -->
        <category-item [item]="menu_item"
			[hidden]="menu_item.hidden && !user.isAdmin()"
			*ngFor="let menu_item of categories">
		</category-item>

		<!-- ADD CATEGORY BUTTON (displayed only if admin is logged in)-->
		<li *ngIf="user.isAdmin()">
            <inline-editor type="text"
				[(ngModel)]="newcat"
				(onSave)="saveEditable($event)"
				name="editableText1"
				size="12">
			</inline-editor>
		</li>
	</ul>
</nav>
</div>

