<<<<<<< HEAD
<<<<<<< HEAD
nav {
	border-bottom: 1px solid lighten(#000, 80%);
	margin-bottom: 1em;
=======
.main-menu {
	border-bottom: 1px solid lighten(#000, 80%);
	padding: 2em 0 1.5em 0;
>>>>>>> 9107357... Components: Category Bar and Item
=======
.main-menu {
	border-bottom: 1px solid lighten(#000, 80%);
	padding: 2em 0 1.5em 0;
>>>>>>> 9107357... Components: Category Bar and Item

	ul {
		list-style-type: none;
		text-decoration: none;
<<<<<<< HEAD
<<<<<<< HEAD
		position: relative;
		margin-bottom: 0!important;
	}

	li {
		display: block;
		float: left;
		padding: 0;

		&.active a {
			background-color: darken(#FFF, 5%);
		}

		a {
			padding: 0.5em 1em;
			color: lighten(#000, 10%);

			&:hover {
				background-color: darken(#FFF, 5%);
=======
=======
>>>>>>> 9107357... Components: Category Bar and Item
		li {
			position: relative;


			a {
				color: #000;
				padding: 0.35em 0;
				display: inline-block;
				// float: left;
				// clear: both;
			}

			span.glyphicon {
				float: left;
				margin-right: 0.2em;
				margin-top: 0.35em;
				color: red;

				&.glyphicon-edit {
					float: right;
					color: #000;
					margin-left: 0.35em;
				}
			}

			ul {
				padding: 1em;
				display: none;
				position: absolute;
				min-width: 150px;
				background: darken(#FFF, 5%);

<<<<<<< HEAD
>>>>>>> 9107357... Components: Category Bar and Item
=======
>>>>>>> 9107357... Components: Category Bar and Item
			}
		}
	}

<<<<<<< HEAD
<<<<<<< HEAD
	#inlineEditWrapper {
		a {
			line-height: 1!important;
=======
=======
>>>>>>> 9107357... Components: Category Bar and Item
	&> ul {
		&> li {
			float: left;
			margin-left: 1em;
			margin-bottom: 2em; 

			&:hover ul {
				display: block;
			}
<<<<<<< HEAD
>>>>>>> 9107357... Components: Category Bar and Item
=======
>>>>>>> 9107357... Components: Category Bar and Item
		}
	}
}
