nav {
	border-bottom: 1px solid lighten(#000, 80%);
	margin-bottom: 1em;

	ul {
		list-style-type: none;
		text-decoration: none;
		position: relative;
		margin-bottom: 0!important;
	}

	li {
		display: block;
		float: left;
		padding: 0;

		&.active a {
			background-color: darken(#FFF, 5%);
		}

		a {
			padding: 0.5em 1em;
			color: lighten(#000, 10%);

			&:hover {
				background-color: darken(#FFF, 5%);
			}
		}
	}

	#inlineEditWrapper {
		a {
			line-height: 1!important;
		}
	}
}
