<div class="top-bar">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <a ng-href="#/" class="logo">{{ logo }}</a>
            </div>

            <div class="user-menu col-md-6 hidden-print">
            <ul>
                <li *ngIf="user.user == null">
                    <a [routerLink]="['/', 'login']" ><span class="glyphicon glyphicon-log-in white"></span> Login</a>
                </li>
                <li *ngIf="!user.isAdmin()">
                    <a [routerLink]="['/','invoice']">Check Invoice</a>
                </li>
                <li *ngIf="user.isCustomer()">
                    <a [routerLink]="['/','account']">Account</a>
                </li>
                <li *ngIf="user.isAdmin()">
                    <a [routerLink]="['/', 'admin']">Administration</a>
                </li>
                <li *ngIf="!user.isAdmin()">
                    <a [routerLink]="['/','cart']" >
                        <span class="glyphicon glyphicon-shopping-cart"></span>
                        Cart <small>({{cart.length()}})</small>
                    </a>
                </li>
                <li *ngIf="user.isAdmin() || user.isCustomer()">
                    <a (click)="logout()">
                        Log Out <span class="glyphicon glyphicon-log-out white"></span>
                    </a>
                </li>
            </ul>
            </div>
        </div>
    </div>
</div>
