<topbar></topbar>
<category-bar></category-bar>

<div class="container">
	<h2>Register</h2>
	<form (ngSubmit)="onSubmit()" #contactForm="ngForm" novalidate>
		<div class="form-group">
			<label for="username">Username *</label>
			<input type="text" class="form-control" placeholder="Enter Your Username" required
				[(ngModel)]="contact.username" #fusername="ngModel" name="user_name">
			<div *ngIf="fusername.errors?.required" class="alert alert-danger">
				Username is required
			</div>
		</div>

		<div class="form-group">
			<label for="firstname">First Name</label>
			<input type="text" class="form-control" placeholder="Enter Your First Name"
				[(ngModel)]="contact.firstname" #fname="ngModel" name="first_name">
		</div>

		<div class="form-group">
			<label for="lastname">Last Name *</label>
			<input type="text" class="form-control" placeholder="Enter Your Last Name" required
				[(ngModel)]="contact.lastname" #flname="ngModel" name="last_name">
			<div *ngIf="flname.errors?.required" class="alert alert-danger">
				Last Name is required
			</div>
		</div>

		<div class="form-group">
			<label for="password">Password *</label>
			<input type="password" class="form-control" placeholder="Enter Your Password" required
				[(ngModel)]="contact.password" #fpass="ngModel" name="password"
				[rangeLength]="[5, 99]">
			<div *ngIf="fpass.errors?.required" class="alert alert-danger">
				Password is required
			</div>
			<div *ngIf="fpass.errors?.rangeLength" class="alert alert-danger">
				Password must be at least 5 characters long.
			</div>
		</div>

		<div class="form-group">
			<label for="password">Repeat Password *</label>
			<input type="password" class="form-control" placeholder="Enter Your Password" required
				[(ngModel)]="passMatch" #frepPass="ngModel" name="repeatPassword" [equalTo]="fpass"
				[rangeLength]="[5, 99]">
			<div *ngIf="frepPass.errors?.required" class="alert alert-danger">
				Password is required
			</div>
			<div *ngIf="frepPass.errors?.rangeLength" class="alert alert-danger">
				Password must be at least 5 characters long.
			</div>
			<div *ngIf="frepPass.errors?.equalTo" class="aler alert-danger">
				Passwords do not match.
			</div>
		</div>

		<div class="form-group">
			<label for="email">Email *</label>
			<input type="email" class="form-control" placeholder="Enter Your Email" required email
				[(ngModel)]="contact.email" #fmail="ngModel" name="email">
			<div *ngIf="fmail.errors?.required" class="alert alert-danger">
				Email is required
			</div>
			<div *ngIf="fmail.errors?.email" class="alert alert-danger">
				Invalid email
			</div>
		</div>

		<button type="submit" class="btn btn-primary" [disabled]="!contactForm.form.valid">
			Submit
		</button>
		<button type="button" class="btn btn-primary" (click)="newContact()">
			New Contact
		</button>
	</form>
</div>
<div [hidden]="!submitted">
	<h2>Your contact details :</h2>
	<div class="well">
		<div class="row">
			<div class="col-xs-2">First Name</div>
			<div class="col-xs-10 pull-left">{{ contact.firstname }}</div>
		</div>
		<div class="row">
			<div class="col-xs-2">Last Name</div>
			<div class="col-xs-10 pull-left">{{ contact.lastname }}</div>
		</div>
		<div class="row">
			<div class="col-xs-2">Country</div>
			<div class="col-xs-10 pull-left">{{ contact.country }}</div>
		</div>
		<div class="row">
			<div class="col-xs-2">Phone Number</div>
			<div class="col-xs-10 pull-left">{{ contact.phone }}</div>
		</div>
		<br>
		<button class="btn btn-primary" (click)="submitted=false">Edit Contact</button>
	</div>
</div>