<topbar></topbar>
<category-bar></category-bar>

<div class="container">
	<section class="product" *ngIf = "!user.isAdmin(); else admin_edit">
		<div class="row">
		<div class="col-6">
			<img class="img-fluid" [src]="product.image == null ? 'https://placeholdit.imgix.net/~text?txtsize=18&txt=Image%20Missing&w=350&h=200' : product.image" alt="Product image">
		</div>

		<div class="col-6">
			<h3>{{ product.name }}</h3>

			<p class="h5">Price: {{ product.price }}</p>
			<p>In Stock: {{ product.in_stock }}</p>

			<label>Quantity</label>
			<input type="number" [(ngModel)]="quantity">

			<a class="btn btn-primary" (click)="addToCart()"><span class="fa fa-cart-plus"></span> Add to Cart</a>

		</div>
		</div>

		<div class="row">
			<p>{{ product.description }}</p>
		</div>

	</section>

	<ng-template #admin_edit>
		<h2>Product edit</h2>
		<div class="form-control">

				<label>Name</label>
				<small>
					<inline-editor type="text" [(ngModel)]="product.name" name="name" (onSave)="update($event)"></inline-editor>
				</small>
		</div>
		<div class="form-control">

				<label>Price</label>
				<small>
					<inline-editor type="number" [(ngModel)]="product.price" name="price" (onSave)="update($event)"></inline-editor>
				</small>
		</div>
		<div class="form-control">

				<label>Image</label>
				<small>
					<inline-editor type="text" [(ngModel)]="product.image" name="image" (onSave)="update($event)"></inline-editor>
				</small>
		</div>
		<div class="form-control">

				<label>Stock</label>
				<small>
					<inline-editor type="text" [(ngModel)]="product.in_stock" name="stock" (onSave)="update($event)"></inline-editor>
				</small>
		</div>
		<div class="form-control">

				<label>Description</label>
				<small>
					<inline-editor type="text" [(ngModel)]="product.description" name="description" (onSave)="update($event)"></inline-editor>
				</small>
		</div>
		<button class="btn btn-primary" (click)="remove()">
			<span *ngIf="product.hidden">Unhide</span>
			<span *ngIf="!product.hidden">Hide</span>
		</button>
	</ng-template>
	<small *ngIf="message">{{ message }}</small>
	{{ product | json}}
</div>
