<section class="success container-fluid">
<div class="top-bar">
	<h1 class="logo col-md-6">{{ logo }}</h1>
	<user-menu></user-menu>
</div>
<main-menu></main-menu>

<a ng-href="/">Home</a>

<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a data-target="#orders" aria-controls="orders" role="tab" data-toggle="tab">Orders</a></li>
    <li role="presentation"><a data-target="#profile" aria-controls="profile" role="tab" data-toggle="tab" ng-click="getOrders()">Warehouse</a></li>
    <li role="presentation"><a data-target="#mans" aria-controls="messages" role="tab" data-toggle="tab">Manufacturers</a></li>
    <li role="presentation"><a data-target="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="orders">
    	<div class="container">
			<div class="row">
				<table class="table">
					<tr ng-repeat="order in orders">
						<td>{{ order.order_id }}</td>
						<td>{{ order.first_name }} {{ order.last_name }}</td>
						<td>{{ order.timestamp }}</td>
						<td>{{ order.email }}</td>
						<td>{{ order.telephone }}
						<td>{{ order.status }}</td>
						<td><a ng-href="#/admin/orders/{{ order.order_id }}">Detail</a></td>
					</tr>
				</table>
			</div>
		</div>
    </div>
    <div role="tabpanel" class="tab-pane container" id="profile">
    	<table class="table">
    		<thead>
    			<td>Product Name</td>
    			<td>In stock</td>
    			<td>Price</td>
    			<td>Manufacturer name</td>
    			<td colspan="3">Contact Person</td>
    			<td>Action</td>
    		</thead>
    		<tr ng-repeat="item in products.products">
    			<td>{{ item.pname }}</td>
    			<td>{{ item.pin_stock }}</td>
    			<td>{{ item.pprice }}</td>
    			<td>{{ item.name}}</td>
    			<td>{{ item.first_name}} {{item.last_name}}</td>
    			<td>{{ item.telephone }}</td>
    			<td><a ng-href="mailto:{{item.email}}">{{ item.email }}</a></td>
    			<td>Order</td>
    		</tr>
    	</table>
    </div>

    <div role="tabpanel" class="tab-pane" id="mans">
    <div class="container">
    	<table class="table">
    		<tr ng-repeat="item in products.man">
    			
    		<td>{{item.name}}</td>
    		<td>{{ item.id_num }}</td>
    		<td>{{item.first_name}} {{item.last_name}}</td>
    		<td>{{item.telephone}}</td>
    		<td>{{item.email}}</td>
    		<td><a ng-click="removeMan(item.manufacturer_id)">DELETE</a>

    		</tr>
    	</table>


    	<a ng-class="toggleMan ? 'hidden':'visible'" ng-click="toggleMan = !toggleMan" class="btn btn-primary">Add manufacturer</a>

    	<form ng-if="toggleMan" ng-model="man">
    		<h4>Company</h4>
    		<div class="input-group">
			  	<span class="input-group-addon">Name*</span>
			  	<input ng-model="man.name" type="text" class="form-control" required placeholder="ACME">
			</div>
			<div class="input-group">
			  	<span class="input-group-addon">ID Number*</span>
			  	<input ng-model="man.id_num" type="text" class="form-control" required placeholder="0123456">
			</div>
	    	<h4>Contact Person</h4>
    		<div class="input-group">
			  	<span class="input-group-addon">Name*</span>
			  	<input ng-model="man.first_name" type="text" class="form-control" required placeholder="John">
			</div>
			<div class="input-group">
			  	<span class="input-group-addon">Surname*</span>
			  	<input ng-model="man.last_name" type="text" class="form-control" required placeholder="Pyng">
			</div>
			<div class="input-group">
			  	<span class="input-group-addon">Email*</span>
			  	<input ng-model="man.email" type="email" class="form-control" placeholder="your@email.com">
			</div>
			<div class="input-group">
			  	<span class="input-group-addon">Telephone*</span>
			  	<input ng-model="man.telephone" type="tel" class="form-control" placeholder="+25 000 111 000">
			</div>
			<input type="submit" ng-click="submitMan(man)" value="Add Manufucter" class="btn btn-primary">
    	</form>
    	</div>
    </div>
    <div role="tabpanel" class="tab-pane" id="settings">
    <div class="container">
    <div class="row">
	    <div class="col-md-6">
		    <table class="table">
		    	<tr ng-repeat="admin in admins">
		    		<td>{{admin.email}}</td>
		    		<td><a ng-click="deleteAdmin(admin)">DELETE</a></td>
	    		</tr>
		    </table>
	    </div>

    	<form ng-model="addAdmin" class="col-md-6">
    		<div class="input-group">
			  	<span class="input-group-addon">Email*</span>
			  	<input ng-model="addAdmin.email" type="email" class="form-control" placeholder="your@email.com">
			</div>
			<div class="input-group">
			  	<span class="input-group-addon">Password*</span>
			  	<input ng-model="addAdmin.password" type="password" class="form-control" placeholder="password">
			</div>
			<input type="submit" ng-click="submitAdmin(addAdmin)" value="Add Admin" class="btn btn-primary">
		</form>
		</div>
		</div>
    </div>
  </div>

</div>