
<section class="cart container-fluid">
<div class="top-bar">
	<h1 class="logo col-md-6">{{ logo }}</h1>
	<user-menu></user-menu>
</div>
<main-menu></main-menu>

<h2>{{page.title()}}</h2>

<div class="cart-content container-fluid">
	<table class="table" ng-init="total = 0">
		<thead>
			<td>Name</td>
			<td>Price</td>
			<td>Quantity</td>
			<td>Total price</td>
		</thead>
		<tbody>
			<tr class="cart-item" ng-repeat="item in cart.items">
				<td>{{ item.name }}</td>
				<td>{{ item.price }}</td>
				<td>{{ item.quantity }}</td>
				<td>{{ item.quantity*item.price }}</td>
				<!-- {{total += item.quantity*item.price}} -->
			</tr>
		</tbody>
		<tfoot>
			<td colspan="3">
				Total
			</td>
			<td>
				{{ cart.items | total }}
			</td>
		</tfoot>
	</table>

	<div ng-if="cart.count != 0">
		<a class="btn btn-danger" ng-click="removeItems()">Remove all items</a>
		<a class="btn btn-primary" ng-href="#/checkout">Proceed to checkout</a>
	</div>
</div>

</section>
