<section class="category container-fluid">
	<div class="top-bar">
		<h1 class="logo col-md-6">{{ logo }}</h1>
		<user-menu></user-menu>
	</div>


	<main-menu></main-menu>

		<div class="row">

		<div class="row" ng-repeat="product in products | groupBy:4">
			<div class="product col-md-3" ng-repeat="item in product">
				<img ng-src="{{ item.image }}" class="img-responsive"/>
				{{ item.name }}
				{{ item.description }}
				{{ item.price }} CZK
				{{ item.quantity }}
				<span class="btn btn-default" ng-click="addToCart(item)">Add to cart</span>
			</div>
		</div>

		<div class="add-product col-md-3" ng-if="user.admin" ng-click="addItem()">Add new product to {{ cat }}'s category

		<span ng-if="!products.length"> No products to show!</span>

	</div>

</section>
