<section class="checkout container-fluid">
<div class="top-bar">
	<h1 class="logo col-md-6">{{ logo }}</h1>
	<user-menu></user-menu>
</div>
<main-menu></main-menu>

{{page.title()}}

<h2>Checkout</h2>

<div class="cart-content container-fluid">
	<table class="table" ng-init="total = 0">
		<thead>
			<td>Name</td>
			<td>Price</td>
			<td>Quantity</td>
			<td>Total price</td>
		</thead>
		<tbody>
			<tr class="cart-item" ng-repeat="item in cart.items">
				<td>{{ item.name }}</td>
				<td>{{ item.price }}</td>
				<td>{{ item.quantity }}</td>
				<td>{{ item.quantity*item.price }}</td>
				<!-- {{total += item.quantity*item.price}} -->
			</tr>
			<tr ng-if="shipping_method">
				<td colspan="3">{{shipping_method.name}}</td>
				<td>{{ shipping_method.price}}</td>
			</tr>
		</tbody>
		<tfoot>
			<td colspan="3">
				<h3>Total</h3>
			</td>
			<td>
				{{ (cart.items | total) + shipping_method.price }}
			</td>
		</tfoot>
	</table>

	<div class="shipping">
	<select ng-model="shipping_method" ng-options="option.name for option in shipping track by option.shipping_id">
		<option value="">-- Select a shipping option--</option>
	</select>

	<span ng-if="shipping_method == undefined">Choose shipping, bitch!
	</span>
	</div>

	<div class="customer-info row" ng-model="customer">
	<form class="col-md-6">
		<div class="input-group">
		  	<span class="input-group-addon">Name*</span>
		  	<input ng-model="customer.name" type="text" class="form-control" required placeholder="John">
		</div>
		<div class="input-group">
		  	<span class="input-group-addon">Surname*</span>
		  	<input ng-model="customer.surname" type="text" class="form-control" required placeholder="Pyng">
		</div>
		<div class="input-group">
		  	<span class="input-group-addon">Email*</span>
		  	<input ng-model="customer.email" type="email" class="form-control" placeholder="your@email.com">
		</div>
		<div class="input-group">
		  	<span class="input-group-addon">Telephone*</span>
		  	<input ng-model="customer.tel" type="tel" class="form-control" placeholder="+25 000 111 000">
		</div>
		<div class="input-group">
		  	<span class="input-group-addon">Address*</span>
		  	<input ng-model="customer.address" type="text" class="form-control" placeholder="Boulevard 1">
		</div>
		<div class="input-group">
		  	<span class="input-group-addon">City*</span>
		  	<input ng-model="customer.town" type="text" class="form-control" placeholder="PyngTown">
		</div>
	</form>

	<div class="col-md-6">
		{{customer.name}} {{customer.surname}}<br>
		{{customer.email}}<br>		
		{{customer.tel}}<br>
		{{customer.address}}<br>
		{{customer.city}}
	</div>

	</div>

	<div class="btn btn-danger" ng-click="removeItems()">Remove all items</div>
	<input type="submit" ng-if="shipping_method && customer" class="btn btn-success" ng-click="order(customer, shipping_method, cart)" value="BUY!">
</div>

</section>
