<section class="success container-fluid">
<div class="top-bar">
	<h1 class="logo col-md-6">{{ logo }}</h1>
	<user-menu></user-menu>
</div>
<main-menu></main-menu>

{{page.title()}}

Order details

<a ng-href="#/admin/orders">Return to orders</a>

<div class="container">

STATUS: {{ invoice.customer.status }}

<div class="row">
	<div class="col-md-6">
		<h2>Customer info:</h2>
		{{ invoice.number }} <br>
		{{ invoice.customer.first_name }} <br>
		{{ invoice.customer.last_name }} <br>
		{{ invoice.customer.telephone }} <br>
		{{ invoice.customer.email }} <br>
		{{ invoice.customer.address_1 }} <br>
		{{ invoice.customer.city }} <br>
		{{ invoice.customer.postal_code }} <br>
	</div>
	<div class="col-md-6">
		<h2>Billing info:</h2>
		Just some financial shit
	</div>
</div>
<div class="row">
	<table class="table col-md-12" ng-init="total = 0">
		<thead>
			<td>Product Name</td>
			<td>In stock</td>
			<td>Price</td>
			<td>Quantity</td>
			<td>Total price</td>
		</thead>
		<tbody>
			<tr class="cart-item" ng-repeat="item in invoice.products">
				<td>{{ item.name }}</td>
				<td>{{ item.in_stock }}</td>
				<td>{{ item.price }}</td>
				<td>{{ item.quantity }}</td>
				<td>{{ item.quantity*item.price }} CZK</td>
				<!-- {{total += item.quantity*item.price}} -->
			</tr>
			<tr>
				<td colspan="4">{{ invoice.shipping.name }}</td>
				<td>{{ invoice.shipping.price }} CZK</td>
			</tr>
		</tbody>
		<tfoot>
			<td colspan="4">
				Total
			</td>
			<td>
				{{ invoice.customer.full_price }} CZK
			</td>
		</tfoot>
	</table>
</div>

<a href="javascript:window.print()" class="btn btn-info">Print this page</a>

</div>

</section>
