<section class="category container-fluid">
	<div class="top-bar">
		<h1 class="logo col-md-6">{{ logo }}</h1>
		<user-menu></user-menu>
	</div>


	<main-menu></main-menu>

	<div class="row">

	
	<img ng-src="{{ product.image }}" class="img-responsive col-md-6"/>
	<div class="col-md-6">
		{{ product.name }}
	{{ product.description }}
	{{ product.price }} CZK
	{{product.product_id}}
	<div class="btn btn-success" ng-click="addToCart(product)">Buy</div>
	</div>
	<div class="row">
		<div class="review" ng-repeat="review in reviews">
			{{review.content}}
			{{review.timestamp}}
		</div>
	</div>
</section>
