@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

$black : #000;
$white : #FFF;

.main-menu {
	border-top: 3px solid $black;
	border-bottom: 1px solid lighten($black, 80%);
	padding: 2em 0 1.5em 0;

	ul {
		list-style-type: none;
		text-decoration: none;
		li {
			position: relative;
			margin-bottom: 2em;
			a {
				color: $black;
				float: left;
				clear: both;
			}

			ul {

			}
		}
	}
}

.user-menu {
	margin: 2em 0 0 0;
	color: $white;
	a {
		color: $white;
		font-weight: bold;
	}
}

.home {
	background: url('../img/918_big.jpg') no-repeat center center;
	background-size: cover;
	height: 500px;
	width: 100%;
	text-align: center;
}

.top-bar {
	background: rgba(0,0,0,0.95);
	height: 100px;

	.logo {
		text-indent: -9999px;
		height: 70px;
		margin: 15px 0;
		width: 50%;
		background: url('../img/logo.png') no-repeat center left;
		background-size: contain;
	}
}

.table > tbody > tr > td,  .table > tfoot > tr > td{
     vertical-align: middle;
}

.ng-invalid-required.ng-dirty {
	border-color: red;
}

.product {
	border: 1px solid lighten($black, 95%);
	padding: 1em;
	&:hover {
		border-color: lighten($black, 80%);
	}
}

select {
    padding:1em;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 5px #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 5px #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color:#888;
    border: 1px solid lighten($black, 70%);
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}



.btn {
	padding: 1em 0.75em;
	margin: 1.5em;
	text-decoration: none;
	display: inline-block;

	&.btn-outline {
		background: transparent;
		border-width: 3px;
	    border-style: solid;
	}

	&.btn-white {
		border-color: $white;
		color: $white;
	}

	&.center {
		margin: 0 auto;
		text-align: center;
	}
}